[user]
	name = Dieter Castel
	email = dietercastel@gmail.com
[credential]
	helper = cache --timeout=3600
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	pager = true
	ui = true
